<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script src="/js/jquery-3.7.0.js"></script>
  <script src="/js/bootstrap.js"></script>
</head>
<body>
<footer class="mt-5 border-top border-3" th:fragment="footer">
  <div class="py-5">
    <h1 class="text-center">Footer 영역</h1>
  </div>
</footer>
</body>
</html>