<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script src="/js/jquery-3.7.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script>
    // 문제 2) selectBox 파일을 수정하여 구 정보를 선택 시 동 정보가 출력되도록 select 태그를 하나 더 추가하고, 주소 출력 버튼을 클릭 시 전체 주소가 화면에 출력되는 프로그램을 작성하세요
    // * 세번째 select 태그 id = sel3
    // * 주소 출력 버튼은 일반 버튼. id = btn-addr
    // * 내용 처리르르 위한 함수를 따로 생성해서 사용해도 상관없음
    // * 파일명 : quiz2.html

    $(document).ready(function () {
      // 시 선택 selectbox
      $("#sel1").on("change", function () {
        const val1 = $("#sel1 option:selected").val();

        $.ajax({
          url: "/ajax/quiz2Result",
          type: "POST",
          data: {areaName: val1},
          success: function (data) {
            if (data.length > 0) {
              const sel2 = $("#sel2");
              sel2.empty();

              let opt = "<option value=''>선택하세요</option>"
              for (let i = 0; i < data.length; i++) {
                opt += "<option value='" + data[i].areaName + "'>" + data[i].areaName + "</option>"
              }
              sel2.append(opt);
            }
          },
          error: function () {
            alert("서버 통신 시 오류가 발생했습니다.");
          }
        })

      });

      // 구 선택 selectbox
      $("#sel2").on("change", function () {
        const val1 = $("#sel2 option:selected").val();

        $.ajax({
          url: "/ajax/quiz2Result2",
          type: "POST",
          data: {areaName: val1},
          success: function (data) {
            const sel3 = $("#sel3");
            sel3.empty();

            let opt = "<option value=''>선택하세요</option>"
            for (let i = 0; i < data.length; i++) {
              opt += "<option value='" + data[i].areaName + "'>" + data[i].areaName + "</option>"
            }
            sel3.append(opt);
          },
          error: function () {
            alert("서버 통신 시 오류가 발생했습니다.");
          }
        });
      });

      $("#btn-addr").on("click", function () {
        const addr1 = $("#sel1 option:selected").val();
        const addr2 = $("#sel2 option:selected").val();
        const addr3 = $("#sel3 option:selected").val();

        if (addr1 === "" || addr2 === "" || addr3 === "") {
          alert("주소 선택이 완료되지 않았습니다.");
        } else {
          alert(`${addr1}시 ${addr2} ${addr3}`);
        }
      });
    });
  </script>
</head>
<body>
<div class="container my-4">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h3>ajax를 이용하여 select box의 내용 변경하기</h3>
      <br>
      <div class="row">
        <div class="col-sm">
          <select id="sel1" class="form-control">
            <option value="" selected>선택하세요</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="대구">대구</option>
            <option value="부산">부산</option>
          </select>
        </div>
        <div class="col-sm">
          <select id="sel2" class="form-control">
            <option value="">선택하세요</option>
          </select>
        </div>
        <div class="col-sm">
          <select id="sel3" class="form-control">
            <option value="">선택하세요</option>
          </select>
        </div>
      </div>
      <div class="my-3 d-grid gap-3">
        <button type="button" class="btn btn-success" id="btn-addr">선택 완료</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>